<span>
    <textarea rows="{{def.rows}}" cols="{{def.cols}}" name="{{name}}"
        {{#if def.placeholder}} placeholder="{{str def.placeholder module}}"{{/if}}
        {{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}}>{{value}}</textarea>
        {{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
</span>